.step-number {
  width: 80px;
  flex: 1;
  background-color: rgba(255, 0, 0, 0);
  text-align: center;
}

.container {
  max-width: 50%;
  background-color: rgba(243, 240, 229, 0.80);
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.background {
  background-image: url("https://cdn.discordapp.com/attachments/908302616365256745/1250902037739208744/cooking-pattern-design_1284-545.png?ex=666ca0ce&is=666b4f4e&hm=978de539f4f5938c617ecdd42a50cc98f3e5b989ac3a21c30c5e2f5005e588e1&");
  min-height: 97vh;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
