<div class="row">
  <div class="col mb-4">
    <div class="card h-100 d-flex flex-column" [routerLink]="['/recipe/',recipe.id]">
      <div class="card-img-container">
        <img [src]="recipe.pictureUrl" alt="{{recipe.title}}" class="custom-img">
      </div>
      <div class="card-body flex-grow-1 d-flex flex-column">
        <h5 class="card-title mb-3 ">{{ recipe.title }}</h5>
        <div class="card-text mt-auto">
          <p> Dodane przez: {{ recipe.authorName }}</p>
          <p>Liczba kroków: {{ recipe.numberOfSteps }}</p>
          <p>Liczba składników: {{ recipe.numberOfIngredients }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
