<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">Cook Lovers</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed =!isMenuCollapsed">&#9776;</button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-between me-2">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" (click)="isMenuCollapsed = true">Przepisy</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn() ">
          <a class="nav-link" [routerLink]="['/add-recipe']" (click)="isMenuCollapsed = true">Dodaj przepis</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item d-flex " *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" [routerLink]="['/signin']">Zaloguj się</a>
          <a class="nav-link" [routerLink]="['/signup']">Zarejestruj się</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" (click)="authService.signOut(); signOutToaaster()">Wyloguj się </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
