<div class="container px-5 p-3 pb-4">
  <form [formGroup]="recipeForm" (ngSubmit)="recipeForm.valid ? onSubmit() : invalidFormToast()">
    <div class="mb-3 text-center">
      <img [src]="recipeForm.get('pictureUrl')?.value" alt="Podgląd zdjęcia" class="img-fluid"
           *ngIf="recipeForm.get('pictureUrl')?.value">
    </div>
    <div class="mb-3">
      <label for="pictureUrl" class="form-label">Link do zdjęcia</label>
      <div class="input-group">
        <input type="text" id="pictureUrl" formControlName="pictureUrl" class="form-control"
               placeholder="Link do zdjęcia" required>
      </div>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Tytuł</label>
      <input type="text" id="title" formControlName="title" class="form-control" placeholder="Tytuł przepisu"
             required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Opis</label>
      <textarea id="description" formControlName="description" class="form-control" rows="3"
                placeholder="Opis przepisu" required></textarea>
    </div>
    <div formArrayName="ingredients" class="mb-3">
      <label class="form-label"><h4>Składniki:</h4></label>
      <div *ngFor="let ingredient of ingredients.controls; let i=index" [formGroupName]="i" class="mb-2 input-group">
        <input formControlName="name" placeholder="Składnik" class="form-control" required>
        <input formControlName="amount" placeholder="Ilość" type="number" class="form-control mx-2" required>
        <select formControlName="unit" class="form-select" required>
          <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
        </select>
        <div>
          <button type="button" class="btn btn-danger ms-1" (click)="removeIngredient(i)">-</button>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary mt-2" (click)="addIngredientFromBtn()">+</button>
      </div>
    </div>
    <div formArrayName="steps" class="mb-3">
      <label class="form-label"><h4>Kroki:</h4></label>
      <div *ngFor="let step of steps.controls; let j=index" [formGroupName]="j"
           class="mb-2 d-flex align-items-center">
        <div class="d-flex">
          <input formControlName="number" placeholder="Numer kroku" type="number"
                 class="form-control step-number border-0" readonly>
        </div>
        <textarea formControlName="step" placeholder="Opis kroku" class="form-control flex: 1" required></textarea>
        <button type="button" class="btn btn-danger ms-2" (click)="removeStep(j)">-</button>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="addStepFromBtn()">+</button>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-success px-4" [disabled]="isLoading">Zapisz zmiany</button>
    </div>
  </form>
</div>
